.project-containor{
    width: 99vw;
    height: auto;
    border: 1px solid black;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
}


.project-heading{

}

.projects-card-holder{
    height: auto;
        width: 99vw;
        border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}






/* Projects media query */

@media (max-width: 375px) {
}

@media (max-width: 640px) {
}

@media (max-width: 768px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1536px) {
}
